img {
    width: 200px;
}

* {
    font-size: 20pt
}


#HackerNews {
    font-family: Helvetica;
}

#DesignerNews {
    font-family: Courier New, Courier, monospace;
}

#Dribble {
    font-family: "Times New Roman";
}